<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Traveling App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/src/client/styles/_index.scss">
<div id = "wave"><img src ="/src/blueWave3.png"></div>
</head>
<body>
<div id = "app">
  <div class ="holder-headline">
    Plan your next trip here!!
  </div>
  <div id="destinations"></div>
  <form id="destination-from">
    <div>
      <label for="destination">Enter destination</label>
      <input name="destination" type="text" id="destination">
    </div><br>
    <div>
      <label for="from">Start Date:</label>
      <input name="from" type="date" id="from">
    </div><br>

    <div>
      <label for="to">End Date:</label>
      <input name="to" type="date" id="to">
    </div><br>
    
      <input type="submit" value="add trip"/>
    </div>
  </form>


</div>

<script>

</script>



</body>
</html>